<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Data</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/drivers/<%=driver._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data" >
            <div class="mb-3">
                <label class="form-label" for="firstName">First Name</label>
                <input class="form-control" type="text" id="firstName" name="driver[firstName]" value="<%=driver.firstName %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="lastName">Last Name</label>
                <input class="form-control" type="text" id="lastName" name="driver[lastName]" value="<%=driver.lastName %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input class="form-control" type="text" id="email" name="driver[email]" value="<%=driver.email %>" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>

            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="age">Age</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="age" placeholder=""  name="driver[age]" value="<%=driver.age %>" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="address">Home Address</label>
                <input class="form-control" type="text" id="address" name="driver[address]" value="<%=driver.address %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="hometown">HomeTown</label>
              <input class="form-control" type="text" id="hometown" name="driver[hometown]" value="<%=driver.hometown %>" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label for="garage">Garage</label>
              <select name="driver[garage]" id="garage">
                <% for(let garage of garages){ %> 
                    <option value="<%=garage %>" <%= driver.garage === garage ? 'selected': '' %>> <%=garage%></option>
                <% } %> 
              </select>
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label for="category">Select a Motor</label>
              <select name="driver[category]" id="category">
                <% for(let category of categories){ %> 
                    <option value="<%=category%>" <%= driver.category === category ? 'selected': '' %> ><%=category%></option>
                <% } %>
              </select>
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="license">License No </label>
              <input class="form-control" type="text" id="license" name="driver[license]" value="<%=driver.license %>" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="phoneNumber">Phone Number</label>
                <div class="input-group">
                    <span class="input-group-text" id="phoneNumber">+234</span>
                    <input type="text" class="form-control" id="phoneNumber" placeholder="8002030405"
                         name="driver[phoneNumber]" value="<%=driver.phoneNumber %>" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> 

            <div class="mb-3">
              <label class="form-label" for="status">Status</label>
              <input class="form-control" type="text" id="status" name="driver[status]" value="<%=driver.status %>" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="nextOfKin">Next Of Kin</label>
              <input class="form-control" type="text" id="nextOfKin" name="driver[nextOfKin]" value="<%=driver.nextOfKin %>" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="phone_next">Next Of Kin's Phone Number</label>
              <div class="input-group">
                  <span class="input-group-text" id="phone_next">+234</span>
                  <input type="text" class="form-control" id="phone_next" placeholder="8002030405"
                        name="driver[phone_next]" value="<%=driver.phone_next %>" required>
              </div>
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <% driver.images.forEach(function(img, i) {  %>
                <img src="<%=img.url %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>

            
            <div class="mb-3">
                <button class="btn btn-success">Update Driver's info</button>
            </div>
        </form>
        <a href="/drivers">Cancel</a>
    </div>
</div>
